.no_info {
  width: 90%;
  height: 80vh;
  margin: auto;
  background-color: var(--bg-contrast);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  padding: 2rem;
  color: var(--bg-color);
  border-radius: 1rem;
}

.no_info img {
  max-width: 50%;
}

.no_info a {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  font-weight: 400;
  text-decoration: none;
}

.infomesas {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1.4rem;
}

.info_mesa {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.disponibles {
  background-color: green;
}
.vendidas {
  background-color: red;
}

.details {
  border: 1px solid var(--bg-contrast);
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

.info_details {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.element {
  padding: 1rem;
  border: 1px solid var(--bg-contrast);
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
}

.element p {
  font-weight: 600;
}

.element p span {
  font-weight: 400;
}

.info {
  background-color: var(--grey-color);
  width: 65%; /* Asegúrate que esto sea igual que el width de .visualizer */
  border-radius: 1rem;
  position: relative; /* Mantén el contenedor relativo para que los rectángulos se posicionen dentro */
  height: 600px; /* Asegúrate de que tenga la misma altura que .visualizer */
  overflow: hidden; /* Esto es importante para ocultar cualquier desbordamiento */
}

.rectangle {
  position: absolute; /* Asegúrate de que esté en relación al contenedor .info */
  /*background-color: rgba(0, 0, 255, 0.133); /* Color del rectángulo */
  /* border: 2px solid blue; /* Borde para visualizar */
  color: white; /* Color del texto dentro del rectángulo */
  text-align: center; /* Centra el texto */
  display: flex; /* Flex para centrar texto vertical y horizontalmente */
  justify-content: center;
  align-items: center;
}

.tiempo {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-contrast);
  max-width: 30%;
}

.time {
  border: 1px solid;
  margin: 0rem 1rem;
  padding: 0 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.time img {
  width: 15px;
  height: 15px;
}
.detailsMesa {
  padding: 3rem 1rem;
  width: 70%;
  height: 400px; /* Altura suficiente para acomodar los silladetail */
  position: relative; /* Necesario para posicionar los silladetail */
}

.mainMesa {
  width: 300px; /* Diámetro del círculo central */
  height: 300px;
  border-radius: 100%;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);
  position: absolute; /* Mantiene el elemento en el centro */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el elemento */
}

.silladetail {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: green;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Posición absoluta para colocar alrededor de mainMesa */
}

.container {
  gap: 1rem !important;
}

.detailsReservacion {
  display: flex;
}

.detailsReservacion:nth-of-type(3) {
  flex-direction: column;
}

#name {
  border-radius: 1rem;
  border: 1px solid var(--bg-contrast);
  padding: 0.5rem 0.8rem;
}

.detailsReservacion:nth-of-type(4) {
  gap: 1rem;
}

#asientosSeleccionados {
  border: 1px solid var(--bg-contrast);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}

.detailsPersona {
  display: flex;
  justify-content: space-evenly;
}

.detail {
  display: flex;
  flex-direction: column;
}

.selected {
  border: 3px solid red;
}

.ticket {
  background-color: var(--bg-contrast);
  padding: 0rem 1rem 12rem 1rem;
  border-radius: 2rem;
  display: none;
}

.card_ticket {
  border: 1px solid var(--bg-contrast);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.card_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.number_ticket {
  padding: 1rem 1.3rem;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.card_body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card_body h3{
    text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 300px 2fr; /* La primera columna será más corta */
  gap: 10px; /* Opcional: añade espacio entre columnas */
}

.row p {
  font-weight: 700;
  margin-right: 1rem;
}
