.sidebar{
    width: 220px;
    padding-top: 2rem;
    background-color: var(--bg-alternative);
    font-family: "Poppins", sans-serif;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;

}


.header_sidebar{
    flex-direction: column;
    text-align: center;
    padding: 0rem 1rem;

}

.user_abreviation{
    font-weight: 700;
    font-style: normal;
    color:  var(--primary-color);
    font-size: 1.9rem;
}

.header_sidebar h2 {
    font-weight: 800;
    font-style: normal;
}

.header_sidebar span {
    font-size: .8rem;
    color: var(--alternative-blue);
    font-weight: 700;
    text-transform: uppercase;

}
.options_sidebar{
    display: flex ;
    flex-direction: column;
    gap:1rem;
    padding: 0rem 1rem;
    position: relative; 

    

}
.options_sidebar button {
padding: .3rem .5rem;
background: var(--bg-contrast);
display: flex;
justify-content: space-evenly   ;
align-items: center;
width: 90%;
margin: auto;
border-radius: 1.5rem;
border: none;
font-family: "Poppins", sans-serif;
font-size: .7rem;

}



.footer_sidebar button{
    background: var(--bg-contrast);
    font-family: "Poppins", sans-serif;
    width: 90%;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    margin: auto;
    display: flex;
    gap: 1rem;


}

.end_footer{
    margin-top: 1.4rem;
    background: var(--blue-color);
    width: 100%;
}

.options_ajustes {
    background: var(--bg-contrast);
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    z-index: 2;
    width: 80%;
    top: 0; 
    left: 110%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .7rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
    transition: all ease-in 1s;
}

.options_ajustes a {
    text-decoration: none;
    color: var(--darker-blue);
}

.options_ajustes a:hover{
    color: var(--primary-color);
    transition: all .8s;
}

.no_link{
    text-decoration: none;
    color: var(--darker-blue);
}